/* ----------  page defaults ---------- */

html {
	height: 100%;
	width: 100%;
	background-color: #fff;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
		
/* ----------  primary layout ---------- */

#MainContain {
		width: 100%;
		margin: 0px;
		padding: 0px;
		height: 100%;
  		background-image: url("../img/spc.jpg");
		position: relative;
		
}

	
		
#splashText {
		margin-right: auto;
		margin-left: auto;
		width: 317pt;
		height: 105pt;
		top: 50%;
		position: relative;
		background-image: url("../img/ft.svg");
		background-repeat: no-repeat;
		z-index: 1;
		}


#LogIn{
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	height: 20%;
	width: 100%;
	background-image: url("../img/loginGlass.png");

}

.login{
position: relative;
  width: 400px;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
}

		
p {margin: 0 0 10px;}



.LogInBtn {
	background-color:#ffce79;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ce8e28;
}.LogInBtn:hover {
	background-color:#eeaf41;
}.LogInBtn:active {
	position:relative;
	top:1px;

		









  
